#contato {
    display: flex;
    flex-direction: row;
}

.pgco {
    width: 50%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Open-sans', sans-serif;
}

.pgco form {
    border: 1px solid #333;
    border-radius: 5px;
    padding: 20px;
    width: 80%;
    background-color: #666;
}

.pgco form h3 {
    font-size: 25px;
    margin-bottom: 20px;
    color: #fff;
}

.clabel {
    width: 90%;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #333;
    color: #fff;
}

.clabel input {
    height: 30px;
    border-radius: 3px;
    border: none;
}

.clabel textarea {
    height: 120px;
    border-radius: 3px;
    border: none;
}

#btn button {
    padding: 10px 20px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#infos-contact {
    justify-content: flex-start;
}

.infos {
    width: 50%;
    margin-bottom: 20px;
    font-size: 18px;
}

.infos a {
    text-decoration: none;
}

.infos i {
    font-size: 28px;
    margin-right: 15px;
}

.infos i#facebook {
    color: #4267B2;
}

.infos i#instagram {
    color: #DB3A86;
}

.infos h4 {
    text-align: left;
    font-size: 21px;
    margin-bottom: 5px;
}

.infos h4:after {
    content: "";
    width: 100%;
    height: 3px;
    background: #333;
    display: block;
}