.pgc {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    min-height: calc(100vh - 90px);
    background-color: #A1A39D;
}

.pgc .titulo {
    width: 100vw;
    display: flex;
    flex-direction: row;
    position: relative;
    max-height: 100px;
    padding-bottom: 10px;
}

.pgc .titulo h3.tituloPagina {
    display: block;
    width: 95%;
    font-size: 30px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vw;
    color: #fff;
}

.pgc .titulo h3.tituloPagina:after {
    content: "";
    width: 100%;
    height: 3px;
    background: #fff;
    display: block;
}

.pgc .titulo .gl {
    position: absolute;
    right: 10%;
    top: 0%;
}

.pgc .titulo .gl button {
    cursor: pointer;
    font-size: 30px;
    color: #fdfdfd;
    border: none !important;
    background-color: transparent !important;
}

.pgc .titulo .gl button:focus {
    border: none;
    background-color: transparent;
    outline: none;
    box-shadow: none;
}

.pgc .contentpg {
    padding: 20px 30px;
    background-color: #fafafa;
    width: 92%;
}

.pgc .contentpg p {
    color: #333;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
}